@import "./variables.scss";

.conference-wrapper {
   height: calc(100vh - 85px);

   .participants-wrapper {
      background: $primary-color;
      height: 100%;
      border-radius: 10px;
      position: relative;
      .controls {
         border-radius: 20px;
         position: absolute;
         left: 10px;
         width: calc(100% - 20px);
         bottom: 10px;
         //  background: #0001;
         display: flex;
         justify-content: center;
         align-items: center;
         .custom-control {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: #2e3235;
            margin-left: 10px;
            margin-right: 10px;
            &.danger {
               background: $danger-color;
            }
            &.active {
               background: $success-color;
            }
         }
      }
   }
}

.right-panel {
   border-radius: 10px;
   position: relative;
   height: 100%;
   .tab-buttons {
      //   background: $primary-color;
      //   position: relative;
      .tab-button {
         position: absolute;
         border: none;
         background: $primary-color;
         color: white;
         padding: 1em;
         width: 50%;
         padding-left: 3em;
         width: 55%;
         z-index: 0;
         &.task-button-1 {
            left: 0;
            top: 0;
            border-radius: 50px 0px 0px 50px;
         }
         &.task-button-2 {
            right: 0;
            top: 0;
            border-radius: 0px 50px 50px 0px;
         }
         &.active {
            background: $primary-btn-color;
            color: black;
            border-radius: 50px 50px 50px 50px;
            z-index: 1;
         }
      }
   }
}
