@import "./variables.scss";

.controls {
   border-radius: 20px;
   position: absolute;
   left: 10px;
   width: calc(100% - 20px);
   bottom: 10px;
   //  background: #0001;
   display: flex;
   justify-content: center;
   align-items: center;
   .custom-control {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #2e3235;
      margin-left: 10px;
      margin-right: 10px;
      &.danger {
         background: $danger-color;
      }
      &.active {
         background: $success-color;
      }
   }
}
