@import "./variables.scss";

.controls-wrapper {
   position: absolute;
   left: 0px;
   width: 100%;
   bottom: 20px;
   .back-btn {
      height: 100%;
   }
   .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      .custom-control {
         padding: 10px;
         border: none;
         border-radius: 5px;
         background: #2e3235;
         margin-left: 10px;
         margin-right: 10px;

         &.danger {
            background: $danger-color;
         }
         &.active {
            background: $success-color;
         }
      }
   }
}
