@import "./variables.scss";
.header-wrapper {
   background-color: $secondary-color;
   color: white;
   .logo-text {
      font-family: "Euphoria Script", cursive;
      font-size: 3em;
      margin: 0;
      padding: 0;
   }
   .conference-name-text {
      color: white;
   }
}
