@import "~antd/dist/antd.dark.css";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lato&display=swap");
@import "./theme.scss";

body {
   font-family: "Lato", sans-serif;
   background: $secondary-color;
   color: white;
}

.logo-text {
   font-family: "Euphoria Script", cursive;
   font-size: 3em;
   margin: 0;
   padding: 0;
}

.profile-image-square {
   width: 200px;
   height: 200px;
   object-fit: cover;
}
