@import "~antd/dist/antd.css";
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lato&display=swap");
@import "./theme.scss";

body {
   font-family: "Lato", sans-serif;
   background: $secondary-color;
   color: white;
}
