@import "./variables.scss";

.conference-wrapper {
   height: calc(100vh - 85px);
   .outer-wrapper {
      background: $primary-color;
      border-radius: 10px;
      height: 90%;
      .participants-wrapper {
         height: 90%;
         position: relative;
         overflow: hidden;
      }
      .view-all-participants-btn {
         margin-top: 10px;
         margin-left: 10px;
      }
   }
}
