@import "./variables.scss";

.profile-wrapper {
   padding-top: 100px;
   height: calc(100vh - 100px);
   .wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: $primary-color;
      border-radius: 20px;
      position: relative;
      .edit-button {
         font-size: 2em;
         position: absolute;
         right: 10px;
         top: 10px;
      }
   }
}

.profile-image-sphere {
   border: 3px solid $danger-color;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   object-fit: cover;
   &.custom {
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      font-size: 100px;
   }
}
