@import "./variables.scss";

.ant-modal {
   color: white !important;
}
.ant-modal-title {
   color: white !important;
}
.ant-modal-header {
   background-color: $primary-color !important;
   border-bottom: 1px solid $secondary-color !important;
}
.ant-modal-footer {
   background-color: $primary-color !important;
   border-top: 1px solid $secondary-color;
}
.ant-modal-body {
   background-color: $primary-color !important;
}

.ant-input {
   background: $primary-color !important;
   border: 1px solid $logo-color !important;
   caret-color: white;
   color: white;
   &::placeholder {
      color: #888 !important;
   }
}

.ant-btn {
   background-color: rgba(0, 0, 0, 0);
   color: white;
   border: 1px solid $primary-btn-color;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   &:hover {
      background: #333;
      color: white;
   }
   &.ant-btn-primary {
      background-color: $primary-btn-color !important;
      color: $secondary-btn-color !important;
   }
}

.ant-input-password {
   border: 1px solid white;
   background: $primary-btn-color !important;
   .ant-input-suffix .anticon {
      color: white !important;
   }
}

.ant-form-item-label label {
   color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: white;
}

a {
   color: white !important;
}
.ant-tabs {
   height: 100%;
   .ant-tabs-content-holder {
      height: 100%;
   }
}
.ant-tabs-tab {
   color: white !important;
   &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
         color: $success-color !important;
      }
   }
}
.ant-checkbox-wrapper {
   color: white !important;
   .ant-checkbox-inner {
      background: $primary-color;
   }
   &:focus {
      .ant-checkbox-inner {
         border: 1px solid $primary-btn-color;
      }
   }
}

.ant-tabs-ink-bar {
   position: absolute;
   background: $success-color;
   pointer-events: none;
}

.ant-tabs-content {
   color: white;
}
