@import "./variables.scss";

.text-success {
   color: $success-color !important;
}

.cursor-pointer {
   cursor: pointer;
}
.ant-drawer-content-wrapper {
   width: 400px !important;
   .ant-drawer-wrapper-body {
      .ant-drawer-header {
         background: $secondary-color !important;
         border-radius: 0px !important;
         border-bottom: 0px;
         .ant-drawer-title {
            color: $primary-btn-color !important;
         }
         .ant-drawer-close {
            color: white !important;
         }
      }
      .ant-drawer-body {
         background: $secondary-color !important;
         color: white !important;
      }
   }
}

.ant-modal {
   color: white !important;
   .ant-modal-close-x {
      color: white !important;
   }
}

.ant-modal-title {
   color: white !important;
}
.ant-modal-header {
   background-color: $secondary-color !important;
   border-bottom: none !important;
}
.ant-modal-footer {
   background-color: $secondary-color !important;
   border-top: none !important;
   display: flex;
   justify-content: flex-end;
   .ant-btn {
      border: 1px solid #aaa;
      color: #aaa !important;
      border: none;
      &.ant-btn-primary {
         color: white !important;
         background: $neutral-color !important;
         border: none !important;
         &:hover,
         &:focus,
         &:active {
            background: $neutral-color-focus !important;
         }
      }
   }
}
.ant-modal-body {
   background-color: $secondary-color !important;
}

.ant-input {
   background: transparent !important;
   border: 1px solid $primary-btn-color !important;
   caret-color: white;
   color: white;
   &::placeholder {
      color: #888 !important;
   }
}

.card {
   background: $primary-color;
   border-radius: 20px;
}

.ant-btn {
   background-color: transparent;
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   border-radius: 5px;
   color: white !important;
   &:hover {
      background: $primary-color !important;
      color: white;
   }

   &.ant-btn-default {
      background-color: transparent;
      color: $primary-btn-color !important;
      border-radius: 0 !important;
      border: 1px solid $primary-btn-color;
      &.filled {
         background-color: $primary-btn-color;
         border: 1px solid $secondary-color !important;
         color: black !important;
         border-radius: 0 !important;
      }
   }

   &.ant-btn-primary {
      background-color: transparent;
      color: $neutral-color !important;
      border: 1px solid $neutral-color !important;
      &.filled {
         border: 1px solid $secondary-color !important;
         color: white !important;
         border-radius: 0 !important;
      }
   }
   &.ant-btn-danger {
      background-color: transparent;
      color: $danger-color !important;
      border: 1px solid #2f3943;
      &.filled {
         background-color: $danger-color !important;
         border: none !important;
         color: white !important;
      }
   }
   &.ant-btn-success {
      background-color: transparent;
      color: $success-color !important;
      border: 1px solid #2f3943;
      &.filled {
         background-color: $success-color !important;
         border: none !important;
         color: black !important;
         border-radius: 0 !important;
         &:hover,
         &:focus,
         &:active {
            background-color: $success-color-focus !important;
         }
      }
   }
}

.ant-input-password {
   border: 1px solid $primary-btn-color !important;
   background: transparent !important;
   .ant-input {
      border: none !important;
   }
   .ant-input-suffix .anticon {
      color: white !important;
   }
}

.ant-form-item-label label {
   color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: white;
}

a {
   color: white !important;
}
.ant-tabs {
   height: 100%;
   .ant-tabs-content-holder {
      height: 100%;
   }
}
.ant-tabs-tab {
   color: white !important;
   &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
         color: $success-color !important;
      }
   }
}
.ant-checkbox-wrapper {
   color: white !important;
   .ant-checkbox-inner {
      background: $primary-color;
   }
   &:focus {
      .ant-checkbox-inner {
         border: 1px solid $primary-btn-color;
      }
   }
}

.ant-tabs-ink-bar {
   position: absolute;
   background: $success-color;
   pointer-events: none;
}

.ant-tabs-content {
   color: white;
}

.custom-label-wrapper {
   position: relative;
   .custom-label {
      position: absolute;
      top: -12px;
      left: 10px;
      background: $secondary-color;
      padding: 0px 5px;
      z-index: 1;
      color: $label-color;
      &.primary {
         background: $primary-color;
      }
   }
}

.ant-alert-error {
   background: $error-color !important;
   color: white !important;
   border: none !important;
}

.ant-tag {
   background: transparent !important;
}

.ant-dropdown-menu {
   background: $primary-color !important;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   .ant-dropdown-menu-item {
      color: white !important;
      &:hover {
         background: $secondary-color !important;
      }
   }
}
