$primary-color: #323f4b;
$secondary-color: #1f2933;
$logo-color: #afb3b6;
$primary-btn-color: #edc199;
$primary-btn-color-focus: #da8637;
$secondary-btn-color: #2e2e2e;
$success-color: #1cddcc;
$danger-color: #f26569;
$danger-color-focus: #e03b41;
$neutral-color: #5c7aea;
$neutral-color-focus: #455db6;
$label-color: #aaa;
$success-color-focus: #109c91;

$error-color: #f6878b;
